body{ 
    background-image: url(bg.jpg);
    background-size: cover;
    background-position: 50% ;
    background-repeat: no-repeat;
    padding: 0;
    margin: 0;    
    width:100vw;
    height: 100vh;    
}
.panel{
    
    position: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.question-container{
    margin-top: 3%;
    padding: 5px;
    margin-bottom: 2%;
    width:max-content;
    font-size: xx-large;
    border-radius: 5px;
    border: 1px solid black;
    text-align: center;
    margin-right:3px;
    background-color: #ffed4b;
    
}
.result{
    border: 1px solid black;
    border-radius: 5px;
    background: linear-gradient(110deg, #d2e39e 15%, #2aa49a 20%);
    padding: 5px;
    width: max-content;
    width:15%;
    height: 70%;
    text-align: center;
    
    font-size: 50px;
      
}
.option-container{
    display: flex;
    justify-content: space-around; 
    margin: 10px;
    padding: 5px;
    width: 95%;
    height: 20vh;  
        
}
.option{
    margin-top: 8%;
    padding: 10px;
    width:max-content;
    height: max-content;
    font-size: larger;
    background-color: rgb(110, 233, 219);
    border-radius: 25%;
}
.option:hover{
    background-color: rgba(73, 104, 34, 0.791);
}
.navigation{
    width: 95%;
    height: 10vh;
    margin: 10px;
    padding: 5px;
    display: flex;
    justify-content: space-around;
}
  
.evaluate,.next{
    width:10vw;
    height: 8vh;
    padding: 5px;
    font-size: larger;
    border-radius: 15px;
}
.evaluate{
    
    background-color: #ffed4b;
}
.next{
    color: white;
    background-color: #2aa49a;
    
}
.next:hover{
    background-color: brown;
}
.evaluate:hover{
    background-color: brown;
}
section{
    border-radius: 25px;
    background: linear-gradient(110deg, #2aa49a 50%, #ffed4b 73%);
    width: 50%;
    border: 2px solid black;
}